

    <div class="swiper-slide h-auto swiper-slide-active" role="group" aria-label="1 / 4" style="width: 271.75px; margin-right: 24px;">
        <div class="card h-100">
        <div class="card-body my-md-5 my-4 py-xl-2 py-md-0 py-sm-2 text-center">
            <img src="{{Model.Content.Fields.Icon}}" alt="Icon" class="d-block mb-3 mx-auto"/>
            {{Model.Content.Fields.Icon}}
            <h3 class="h5 mb-3">{{Model.Content.Title}}</h3>
            <p class="mb-0">{{Model.Content.HtmlBodyPart.HtmlBody}}</p>
        </div>
        </div>
    </div>