<!-- Page loading spinner -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
    </div>
</div>


<main class="page-wrapper">

    <section class="position-relative d-flex align-items-center min-vh-100 py-5 bg-dark overflow-hidden">
        <span class="position-absolute top-0 start-0 d-dark-mode-block d-none w-100 h-100 bg-secondary opacity-75"></span>
        <div class="container position-relative dark-mode mt-5 mb-lg-5 mb-md-4 mb-3 pt-3 pb-xl-3">
            <div class="row gy-5">
                <div class="col-xl-5 col-lg-6">
                    <div class="position-relative zindex-5 text-lg-start text-center">
                        <h1 class="display-2 mb-4 pb-lg-3 pb-md-2">Top <span class="text-primary">software</span> engineering company</h1>
                        <p class="mb-4 pb-lg-3 pb-md-2">
                            <span class="me-2 text-light">We are the Top Rated agency on</span>
                            <img src="media/about/clutch-rating.png" width="193" alt="Clutch rating" class="mt-n1">
                        </p>
                        <a href="#" class="btn btn-lg btn-primary">Start your project</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-xl-1">
                    <div class="position-relative ms-xl-0 ms-lg-4">
                        <div class="position-absolute top-50 start-50 translate-middle ratio ratio-1x1" style="width: 125%; max-width: 49.75rem;">
                            <div class="p-md-0 p-5">
                                <img src="media/animation/hero-bg.png" alt="Shape" class="hero-animation-spin p-md-0 p-5">
                            </div>
                        </div>
                        <div class="position-relative row row-cols-sm-2 row-cols-1 gx-xl-4 gx-lg-3 gx-md-4 gx-3">
                            <div class="col">
                                <div class="d-sm-grid d-flex gap-xl-4 gap-lg-3 gap-md-4 gap-sm-3 gap-2">
                                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-3" style="min-height: 176px; backdrop-filter: blur(6px);">
                                        <div class="p-xl-4 p-sm-3 p-2 fs-xl fw-semibold text-center">
                                            <span class="hero-animation-fade text-white">I need AI engineers</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-3" style="min-height: 176px; backdrop-filter: blur(6px);">
                                        <div class="p-xl-4 p-sm-3 p-2 fs-xl fw-semibold text-center">
                                            <span class="hero-animation-fade hero-animation-delay-2 text-white">We are looking for Shopify Experts</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-sm-5 mt-2 pt-sm-5">
                                <div class="d-sm-grid d-flex gap-xl-4 gap-lg-3 gap-md-4 gap-sm-3 gap-2">
                                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-3" style="min-height: 176px; backdrop-filter: blur(6px);">
                                        <div class="p-xl-4 p-sm-3 p-2 fs-xl fw-semibold text-center">
                                            <span class="hero-animation-fade hero-animation-delay-1 text-white">I need MVP for startup</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-3" style="min-height: 176px; backdrop-filter: blur(6px);">
                                        <div class="p-xl-4 p-sm-3 p-2 fs-xl fw-semibold text-center">
                                            <span class="hero-animation-fade hero-animation-delay-3 text-white">I need web development</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="container mb-5 pb-lg-5 pb-md-4 pb-3" id="services">
        <h2 class="h1 mb-lg-5 mb-4 pb-lg-0 pb-md-2 text-center">Сustom Software Solutions</h2>

        <!-- Swiper slider -->
        <div class="swiper mb-xl-3" data-swiper-options='{
          "spaceBetween": 24,
          "breakpoints": {
            "0": {
              "slidesPerView": 1
            },
            "500": {
              "slidesPerView": 2
            },
            "768": {
              "slidesPerView": 3
            },
            "1200": {
              "slidesPerView": 4
            }
          },
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          }
        }'>
            <div class="swiper-wrapper">
                {% for service in Model.ContentItem.Content.Services.ContentItems %}
                {{service | shape_build_display : "Summary" | shape_render }}
                {% endfor %}
            </div>

            <!-- Swiper pagination -->
            <div class="swiper-pagination position-static mt-4 pt-lg-3 pt-2"></div>
        </div>
    </section>

    <!-- Projects -->
    <section class="container mb-5 pb-lg-5 pb-md-4 pb-3">
        <h2 class="h1 mb-lg-5 mb-4 pb-lg-0 pb-md-2 text-center">Explore Our Featured Projects</h2>

        {% for project in Model.ContentItem.Content.Portfolio.ContentItems %}
        {{project | shape_build_display : "Summary" | shape_render }}
        {% endfor %}

    </section>

    <!-- Brands (carousel on screens < 1100px) -->
    <section class="container mb-5 pb-lg-5 pb-md-4 pb-3">
        <div class="swiper mx-n2" data-swiper-options='{
          "spaceBetween": 8,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "0": {
              "slidesPerView": 2
            },
            "768": {
              "slidesPerView": 3
            },
            "1200": {
              "slidesPerView": 4
            }
          }
        }'>
            <div class="swiper-wrapper">

                <->
               

                <!-- Item -->
                <div class="swiper-slide py-3">
                    <a href="#" class="card card-body card-hover px-2 mx-2">
                        <img src="assets/img/brands/02.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
                    </a>
                </div>

                <!-- Item -->
                <div class="swiper-slide py-3">
                    <a href="#" class="card card-body card-hover px-2 mx-2">
                        <img src="assets/img/brands/03.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
                    </a>
                </div>

                <!-- Item -->
                <div class="swiper-slide py-3">
                    <a href="#" class="card card-body card-hover px-2 mx-2">
                        <img src="assets/img/brands/04.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
                    </a>
                </div>
            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative pt-2 mt-4"></div>
        </div>
    </section>





</main>