<!-- Item -->
<div class="swiper-slide py-3">
    <a href="#" class="card card-body card-hover px-2 mx-2">
        <img src="/media/{{Model.ContentItem.Content.Client.Logo.Paths[0]}}" class="d-block mx-auto my-2" width="154" alt="{{Model.ContentItem.DisplayText}}">
    </a>
</div>
