<!-- Page loading spinner -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
    </div>
</div>


<main class="page-wrapper">

    {{ Model.Content | shape_render }}

</main>