
<main class="page-wrapper row">
    <section class="position-relative d-flex align-items-center py-5 bg-dark overflow-hidden">
        <div class="container">
            <div class="row">
                <h2 class="py-3 text-center">{{Model.ContentItem.DisplayText  }}</h2>            
            </div>
        </div>
    </section>
    <section class="position-relative d-flex align-items-center pb-5 bg-dark overflow-hidden">
        <div class="container">
            <div class="row">
                {% shape_remove_item Model.Content "HtmlBodyPart" %}
                {% shape_remove_item Model.Content "Blog-Image" %}

                {{ Model.Content | shape_render }}
            </div>
        </div>
    </section>
</main>