<div class="swiper-slide" data-swiper-tab="{{Model.ContentItem.Content.VoucherText.IdLink.Text}}">
                          <img src="assets/img/landing/software-agency-1/case-study-logo02.png" class="d-block mb-3" width="72" alt="Logo">
                          <h3 class="mb-5">{{Model.ContentItem.Content.TitlePart.Title}}</h3>
                          <div class="pb-2 pb-lg-3 mb-3">
                              {{Model.ContentItem.Content.HtmlBodyPart.Html | raw}}
                          </div>
</div>
                    
