<!-- Swiper item -->
<div class="swiper-slide">
    <div class="mb-3">
        <img src="media/{{Model.ContentItem.Content.Technology.Logo.Paths[1]}}" alt="Logo" class="d-dark-mode-none d-inline-block">
        <img src="media/{{Model.ContentItem.Content.Technology.Logo.Paths[0]}}" alt="Logo" class="d-dark-mode-inline-block d-none">
    </div>
    <span class="text-body">{{Model.ContentItem.DisplayText}}</span>
</div>

