 <!-- Industry Image -->
{% if Model.ContentItem.Content.IndustryImage.Active.Value %}
<div id={{Model.ContentItem.Content.IndustryImage.Id.Text}} class="swiper-tab active">
{% else %}
<div id={{Model.ContentItem.Content.IndustryImage.Id.Text}} class="swiper-tab">
{% endif %}
    <img src={{Model.ContentItem.Content.IndustryImage.Media.Paths[0] | asset_url | resize_url: profile: 'profile600x600', anchor: anchor}} class="rounded-3" alt="Image">
</div>

