<!-- Swiper item -->
                <div class="swiper-slide h-auto">
                    <div class="card h-100">
                    <div class = "mt-3"><i class="fas {{ Model.ContentItem.Content.Service.IconClass.Text}} fa-stack-1x fa-inverse"></i></div>
                        <div class="card-body mt-3 py-xl-2 py-md-0 py-sm-2 text-center">
                            <h3 class="h5 mb-3">{{ Model.ContentItem.DisplayText }}</h3>
                            <p class="mb-0">{{ Model.ContentItem.Content.HtmlBodyPart.Html | raw }}</p>
                        </div>
                    </div>
                </div>