<!DOCTYPE html>

<head>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>
    {% resources type: "Meta" %}
    {% link type:"image/x-icon", rel:"shortcut icon", href:"media/altibiz-logo/altibiz-favicon.png" %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    {% style name:"font-awesome", version:"6", at:"Head" %}
     {% style name:"BoxiconsStyle" %}
     {% style name:"SwiperStyle" %}
     {% style name:"AltibizTheme-bootstrap-oc", version:"1" %} 
    {% style name:"AltibizTheme" %}
    {% script name:"AltibizTheme-bootstrap-bundle", at:"Foot" %}    
    {% script name:"AltibizTheme", at:"Foot" %}
    {% script name:"RellaxScript", at:"Foot" %}
    {% script name:"JarallaxScript", at:"Foot" %}
    {% script name:"PolyfillsScript", at:"Foot" %}
    {% script name:"SwiperScript", at:"Foot" %}

    

    <!-- jQuery -->
    {% script name:"jQuery", at:"Foot" %}
    
    <!-- Components -->
    {% script name:"Audio-player", at:"Foot" %}
    {% script name:"Carousel", at:"Foot" %}
    {% script name:"Element-jarallax", at:"Foot" %}
    {% script name:"Form-validation", at:"Foot" %}
    {% script name:"Gallery", at:"Foot" %}
    {% script name:"Hover-animation", at:"Foot" %}
    {% script name:"Input-formatter", at:"Foot" %}
    {% script name:"Masonry-grid", at:"Foot" %}
    {% script name:"jarallax", at:"Foot" %}
    {% script name:"Password-visibility-toggle", at:"Foot" %}
    {% script name:"Popover", at:"Foot" %}
    {% script name:"Price-switch", at:"Foot" %}
    {% script name:"Range-slider", at:"Foot" %}
    {% script name:"Scroll-top-button", at:"Foot" %}
    {% script name:"Smooth-scroll", at:"Foot" %}
    {% script name:"Sticky-navbar", at:"Foot" %}
    {% script name:"Subscription-form", at:"Foot" %}
    {% script name:"Theme-mode-switch", at:"Foot" %}
    {% script name:"Toast", at:"Foot" %}
    {% script name:"Tooltip", at:"Foot" %}
    {% script name:"Video-button", at:"Foot" %}

    
    {% resources type: "HeadScript" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% render_section "HeadMeta", required: false %}
      <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>
    
    <!-- Page custom styles -->
    <style>

      /* Spin animation */
      @-webkit-keyframes hero-spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes hero-spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      .hero-animation-spin {
        -webkit-animation: hero-spin 35s linear infinite;
        animation: hero-spin 35s linear infinite;
      }

      /* Fade animation */
      @-webkit-keyframes hero-fade {
        0%, 100% { opacity: 0 }
        50% { opacity: 1 }
      }
      @keyframes hero-fade {
        0%, 100% { opacity: 0 }
        50% { opacity: 1 }
      }
      .hero-animation-fade {
        -webkit-animation: hero-fade 4s ease-in infinite;
        animation: hero-fade 4s ease-in infinite;
      }
      .hero-animation-delay-1,
      .hero-animation-delay-2,
      .hero-animation-delay-3 {
        opacity: 0;
      }
      .hero-animation-delay-1 { animation-delay: .75s; }
      .hero-animation-delay-2 { animation-delay: 1.5s; }
      .hero-animation-delay-3 { animation-delay: 2s; }
    </style>


    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>
</head>

<html class="dark-mode" lang="{{ Culture.Name }}">

<body>

    
   
    {% render_section "Header", required: false %}

    {% assign dynamic_cache = Culture.Name | append: "-main-menu" %}
    {% assign dynamic_cache_tag = "alias:" | append: dynamic_cache %}
	{% assign dynamic_alias = "alias:" | append: dynamic_cache %}
    {% shape "menu", alias: dynamic_alias, cache_id: dynamic_cache, cache_expires_after: "00:00:01", cache_tag: dynamic_cache_tag %}

	{% render_section "Messages", required: false %}
    {% render_section "Content" %}
    {%comment%}
    {% render_section "Footer" %}
    {%endcomment%}
    {{Model.Footer | shape_render}}
    {% resources type: "FootScript" %}


    

</body>
</html>

{{Model.Footer | console_log}}