{% assign navbarShape = "Navbar" | shape_new %}
<header class="header navbar navbar-expand-lg position-absolute navbar-sticky">
    <div class="container px-3">
        <a class="navbar-brand pe-3" href="{{ '~/#page-top' | href }}"><img src="/media/altibiz-logo/Alti_logo.png" width="200" height="300" alt="Company logo"> </a>
        <div id="navbarNav" class="offcanvas offcanvas-end bg-dark"">
            <div class="offcanvas-header border-bottom border-light">
              <h5 class="offcanvas-title text-white">Menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">    
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for item in Model.Items %}
                    {{ item | shape_render }}
                    {% endfor %}  
                </ul>
            </div>
            <div class="offcanvas-header border-top border-light">
              {{ navbarShape | shape_render }}
        </div>
        </div>

        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>

        <span class="d-none d-lg-inline-flex">
        {{ navbarShape | shape_render }}
		</span>
        

    </div>

</header>





