{% assign link = Model.ContentItem.Content.LinkMenuItemPart %}
<a class="nav-link mt-2" href="{{ link.Url | href }}"
    {% if link.Url contains "#" %}
        data-bs-target="{{ link.Url | split: '/' | last }}"
    {% endif %}>
<strong>{{ Model.ContentItem.DisplayText }}</strong></a>

