<footer class="footer dark-mode bg-dark pt-4 pb-lg-0 mb-3">
    <div class="container pt-lg-4">
        <div class="row pb-2">
            <div class="col-lg-4 col-md-6">
                <div class="navbar-brand text-dark  mb-3">
                    ALTIBIZ D.O.O.
                </div>
                <p class="fs-sm text-light opacity-70 pb-lg-1 mb-2">
                    Industrijska ulica 1, Božjakovina<br>
                    10370 Dugo Selo
                </p>
                <a style="text-decoration:none" href="mailto:mail@altibiz.com" class="fw-medium">mail@altibiz.com</a>
            </div>
            <div class="col-lg-4 col-md-6">
                    <p class="fs-sm text-white opacity-70 pb-lg-1 mb-2">
                        Altibiz is a proud member<br>
                        of Zagreb Innovation Centre
                    </p>
                <img src="media/zicer-logo/Zicer---znak-i-logotip-main-english-negativ.png" width="180" alt="Logo Zagrebačkog inovacijskog centra">
            </div>
        </div>
        <p id="currentYear" class="nav d-block fs-xs text-center text-md-start mt-3">
             <!-- This script automatically adds the current year to your website footer-->
                <!-- (credit: https://updateyourfooter.com/)-->
                <script>
                const year = new Date().getFullYear();
                const text = "Copyright © Altibiz " + year;
                document.getElementById("currentYear").textContent = text;
                </script>
        </p>
    </div>
</footer>

